
        <section class="testimonial_area_four sec_pad">
            <div class="testimonial_shap_img" style="background: url(img/new/testimonial_bg_shap.png) no-repeat bottom left;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="testimonial_title">
                            <h6>Testimonials</h6>
                            <h2 class="f_p f_size_30 l_height45 f_600 t_color"><?=__('lng.product_page.crm.customer_review.header','Loved by businesses,<br>and individuals across<br>the globe.')?></h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="stratup_testimonial_info d-flex align-items-center">
                            <div class="testimonial_slider_four owl-carousel">
                                <div class="item">
                                    <div class="author_img">
                                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/member_01.jpg" alt="">
                                    </div>
                                    <p><?=__('lng.product_page.crm.customer_review.para','He nicked it hanky panky Eaton naff it\'s your round quaint cheeky cheers, tomfoolery bonnet posh blimey what a plonker vagabond, zonked Elizabeth give us a bell.?')?></p>
                                    <h5><?=__('lng.product_page.crm.customer_review.header_two','Phillip Anthropy')?></h5>
                                    <h6><?=__('lng.product_page.crm.customer_review.header_three','UI/UX designer')?></h6>
                                </div>
                                <div class="item">
                                    <div class="author_img">
                                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/member_01.jpg" alt="">
                                    </div>
                                    <p><?=__('lng.product_page.crm.customer_review.para_two','He nicked it hanky panky Eaton naff it\'s your round quaint cheeky cheers, tomfoolery bonnet posh blimey what a plonker vagabond, zonked Elizabeth give us a bell.?')?></p>
                                    <h5><?=__('lng.product_page.crm.customer_review.header_four','Phillip Anthropy')?></h5>
                                    <h6><?=__('lng.product_page.crm.customer_review.header_five','UI/UX designer')?></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>