
      <section class="stratup_service_area sec_pad bg_color">
            <div class="container">
                <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center"><?=__('lng.product_page.crm.product_details.header','User - friendly experience for <br> your attendies')?></h2>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="stratup_service_img">
                            <div class="shape"></div>
                            <img class="laptop_img" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/laptop.png" alt="">
                            <img class="phone_img" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/phone.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex align-items-center">
                        <div class="stratup_service_info">
                            <div class="startup_service_item">
                                <div class="icon"><i class="icon-badge"></i></div>
                                <h3><?=__('lng.product_page.crm.product_details.tab_one_header','You events')?></h3>
                                <p><?=__('lng.product_page.crm.product_details.tab_one_para','Every event at your fingertip')?></p>
                            </div>
                            <div class="startup_service_item">
                                <div class="icon icon_two"><i class="icon-bell"></i></div>
                                <h3><?=__('lng.product_page.crm.product_details.tab_two_header','Notifications')?></h3>
                                <p><?=__('lng.product_page.crm.product_details.tab_two_para','Every event at your fingertip')?></p>
                            </div>
                            <div class="startup_service_item">
                                <div class="icon icon_three"><i class="icon-layers"></i></div>
                                <h3><?=__('lng.product_page.crm.product_details.tab_three_header','Sessions')?></h3>
                                <p><?=__('lng.product_page.crm.product_details.tab_three_para','Every event at your fingertip')?></p>
                            </div>
                            <div class="startup_service_item">
                                <div class="icon icon_four"><i class="icon-screen-tablet"></i></div>
                                <h3><?=__('lng.product_page.crm.product_details.tab_four_header','Interactions')?></h3>
                                <p><?=__('lng.product_page.crm.product_details.tab_four_para','Every event at your fingertip')?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--        <section class="progress_bar_area">
            <div class="container">
                <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center"><?=__('lng.product_page.crm.product_details.header_two','Measure and increase <br> your reach')?></h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 progress_item">
                        <div class="circle" data-value="0.72" data-fill="{&quot;color&quot;: &quot;#aa6ffa&quot;}" data-trackcolor="">
                            <div class="number"><span class="counter">72</span>%</div>
                        </div>
                        <h4><?=__('lng.product_page.crm.product_details.tab_five_header','Innovations')?></h4>
                        <p><?=__('lng.product_page.crm.product_details.tab_five_para','Charles Jeffrey up the kyver loo in my flat blimey.!')?></p>
                    </div>
                    <div class="col-lg-3 col-md-4 progress_item">
                        <div class="circle" data-value="0.82" data-fill="{&quot;color&quot;: &quot;#f3af4e&quot;}" data-trackcolor="">
                            <div class="number"><span class="counter">82</span>%</div>
                        </div>
                        <h4><?=__('lng.product_page.crm.product_details.tab_six_header','Great Tests')?></h4>
                        <p><?=__('lng.product_page.crm.product_details.tab_six_para','Charles Jeffrey up the kyver loo in my flat blimey.!')?></p>
                    </div>
                    <div class="col-lg-3 col-md-4 progress_item">
                        <div class="circle" data-value="0.92" data-fill="{&quot;color&quot;: &quot;#6fadfa&quot;}" data-trackcolor="">
                            <div class="number"><span class="counter">92</span>%</div>
                        </div>
                        <h4><?=__('lng.product_page.crm.product_details.tab_seven_header','Big Projects')?></h4>
                        <p><?=__('lng.product_page.crm.product_details.tab_seven_para','Charles Jeffrey up the kyver loo in my flat blimey.!')?></p>
                    </div>
                    <div class="col-lg-3 col-md-4 progress_item">
                        <div class="circle" data-value="0.42" data-fill="{&quot;color&quot;: &quot;#fa6fd1&quot;}" data-trackcolor="">
                            <div class="number"><span class="counter">42</span>%</div>
                        </div>
                        <h4><?=__('lng.product_page.crm.product_details.tab_eight_header','Action Plans')?></h4>
                        <p><?=__('lng.product_page.crm.product_details.tab_eight_para','Charles Jeffrey up the kyver loo in my flat blimey.!')?></p>
                    </div>
                </div>
                <div class="br_bottom"></div>
            </div>
        </section>-->