        <section class="startup_fuatures_area sec_pad">
            <div class="container">
                <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height40 f_600 t_color text-center"><?=__('lng.product_page.crm.product_feature.header','Ways your team can<br> Use hubstaff')?></h2>
                </div>
                <ul class="nav nav-tabs startup_tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="market-tab" data-toggle="tab" href="#market" role="tab" aria-controls="market" aria-selected="true">
                            <span class="icon"><i class="icon-cloud-upload"></i></span>
                            <h3><?=__('lng.product_page.crm.product_feature.tab_one_header','Marketing<br> Cloud')?></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="app-tab" data-toggle="tab" href="#app" role="tab" aria-controls="app" aria-selected="false">
                            <span class="icon"><i class="icon-screen-tablet"></i></span>
                            <h3><?=__('lng.product_page.crm.product_feature.tab_two_header','Commerce<br> Apps')?></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="hubstaff-tab" data-toggle="tab" href="#hubstaff" role="tab" aria-controls="hubstaff" aria-selected="false">
                            <span class="icon"><i class="icon-graduation"></i></span>
                            <h3><?=__('lng.product_page.crm.product_feature.tab_three_header','Hubstaff<br> App')?></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="engine-tab" data-toggle="tab" href="#engine" role="tab" aria-controls="engine" aria-selected="false">
                            <span class="icon"><i class="icon-refresh"></i></span>
                            <h3><?=__('lng.product_page.crm.product_feature.tab_four_header','Automation<br> Engine')?></h3>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false">
                            <span class="icon"><i class="icon-bulb"></i></span>
                            <h3><?=__('lng.product_page.crm.product_feature.tab_five_header','Business<br> Intellegence')?></h3>
                        </a>
                    </li>
                </ul>
                <div class="tab-content startup_tab_content" id="myTabContent">
                    <div class="tab-pane fade show active" id="market" role="tabpanel" aria-labelledby="market-tab">
                        <div class="startup_tab_img">
                            <div class="web_img">
                                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                            </div>
                            <div class="phone_img"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/iPhoneX.png" alt=""></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="app-tab">
                        <div class="startup_tab_img">
                            <div class="web_img">
                                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                            </div>
                            <div class="phone_img"><img src="img/new/iPhoneX.png" alt=""></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="hubstaff" role="tabpanel" aria-labelledby="hubstaff-tab">
                        <div class="startup_tab_img">
                            <div class="web_img">
                                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                            </div>
                            <div class="phone_img"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/iPhoneX.png" alt=""></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="engine" role="tabpanel" aria-labelledby="engine-tab">
                        <div class="startup_tab_img">
                            <div class="web_img">
                                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                            </div>
                            <div class="phone_img"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/iPhoneX.png" alt=""></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                        <div class="startup_tab_img">
                            <div class="web_img">
                                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                            </div>
                            <div class="phone_img"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/iPhoneX.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>