  <section class="get_started_three sec_pad">
            <div class="container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height45 f_600 t_color3"><?=__('lng.product_page.hr.customer_review.header_one','Help your customers <br>on every channel')?></h2>
                </div>
                <div class="startup_tab_img">
                    <div class="web_img">
                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/web_image.jpg" alt="">
                    </div>
                    <div class="phone_img"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/iPhoneX.png" alt=""></div>
                </div>
                <div class="row get_btn_info">
                    <div class="col-md-6">
                        <div class="get_btn_item">
                            <div class="get_icon">
                                <i class="ti-time"></i>
                            </div>
                            <h3><?=__('lng.product_page.hr.customer_review.header_two','Conference any time instantly or schedule in advance')?></h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="get_btn_item">
                            <div class="get_icon icon_two">
                                <i class="fab fa-android small"></i>
                                <i class="fab fa-apple"></i>
                            </div>
                            <h3><?=__('lng.product_page.hr.customer_review.header_three','Fully cross - device experience from anywhere in the world')?></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!--        <section class="intregration_area bg_color sec_pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row intregration_logo">
                            <div class="col-6 intregration_item">
                                <a href="#" class="intregration_icon"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/intregration_1.png" alt=""></a>
                            </div>
                            <div class="col-6 intregration_item">
                                <a href="#" class="intregration_icon"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/intregration_2.png" alt=""></a>
                            </div>
                            <div class="col-6 intregration_item">
                                <a href="#" class="intregration_icon"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/intregration_3.png" alt=""></a>
                            </div>
                            <div class="col-6 intregration_item">
                                <a href="#" class="intregration_icon"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/intregration_4.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center">
                        <div class="intregration_content">
                            <h2><?=__('lng.product_page.hr.customer_review.header_four','Pertect intergration')?></h2>
                            <p><?=__('lng.product_page.hr.customer_review.header_para','Owt to do with me cracking goal arse over tit cup of tea brolly in my flat victoria sponge cup of char ruddy Harry, horse play cheeky it\'s your round tomfoolery pear shaped spiffing bodge you mug blower cheers.!')?></p>
                            <a href="" class="btn_six slider_btn"><?=__('lng.product_page.hr.customer_review.read_more','Read More')?></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->