<!doctype html>
<html lang="en">

    <!-- ************************ -->
    <!-- Start Code for head -->
    <?=View::renderPath('product/hr_software/head');?>
    <!-- End Code for head   -->
    <!-- ======================== -->
    <!-- ************************ -->


    <body>

        <div class="body_wrapper">

            <!-- ************************ -->
            <!-- Start Code for header -->
            <?=View::renderPath('product/jewellery_software/header');?>
            <!-- End Code for header   -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- ************************ -->
            <!-- Start Code for slider -->
            <?=View::renderPath('product/hr_software/slider');?>
            <!-- End Code for slider   -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- ************************ -->
            <!-- Start Code for product_feature -->
            <?=View::renderPath('product/hr_software/product_feature');?>
            <!-- End Code for product_feature   -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- Start Code for content -->
            <?=View::renderPath('product/hr_software/content');?>
            <!-- End Code for content   -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- Start Code for customer_review -->
            <?=View::renderPath('product/hr_software/customer_review');?>
            <!-- End Code for customer_review   -->
            <!-- ======================== -->
             <!-- ************************ -->
            <!-- Start Code for awards -->
            <?=View::renderPath('product/hr_software/product_details');?>
            <!-- End Code for awards -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- Start Code for awards -->
            <?=View::renderPath('product/jewellery_software/awards');?>
            <!-- End Code for awards -->
            <!-- ======================== -->
             <!-- Start Code for awards -->
            <?=View::renderPath('product/hr_software/pricing');?>
            <!-- End Code for awards -->
            <!-- ======================== -->
             <!-- Start Code for awards -->
            <?=View::renderPath('product/hr_software/testimonial');?>
            <!-- End Code for awards -->
            <!-- ======================== -->
            <!-- ************************ -->
            <!-- Start Code for footer -->
            <?=View::renderPath('product/jewellery_software/footer');?>
            <!-- End Code for footer   -->
            <!-- ======================== -->
            <!-- ************************ -->



        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/jquery-3.2.1.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/propper.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/bootstrap.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/wow/wow.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/sckroller/jquery.parallax-scroll.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/isotope/isotope-min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/counterup/jquery.counterup.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/counterup/appear.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/circle-progress/circle-progress.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/plugins.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/main.js"></script>
    </body>

</html>