   
        <section class="partner_logo_area_three payment_logo_area bg_color">
            <div class="container">
                <div class="sec_title mb_70 wow fadeInUp" data-wow-delay="0.4s">
                    <h2 class="f_p f_size_40 l_height50 f_500 t_color text-center"><?=__('lng.product_page.billing.price.header','Join thousands of<br> independent business')?></h2>
                </div>
                <div class="row partner_info partner_info_two">
                    <div class="logo_item wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/logo_01.png" alt=""></a>
                    </div>
                    <div class="logo_item wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/logo_02.png" alt=""></a>
                    </div>
                    <div class="logo_item wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/logo_03.png" alt=""></a>
                    </div>
                    <div class="logo_item wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/logo_04.png" alt=""></a>
                    </div>
                    <div class="logo_item wow fadeInLeft" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
                        <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/logo_05.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="payment_priceing_area">
            <div class="container">
                <div class="sec_title mb_70 wow fadeInUp text-center" data-wow-delay="0.4s">
                    <h2 class="f_p f_size_30 l_height40 f_700 t_color"><?=__('lng.product_page.billing.price.header_two','The right price for you, <br>whoever you are')?></h2>
                    <p class="f_400 f_size_18 l_height34"><?=__('lng.product_page.billing.price.para','He lost his bottle squiffy bog bleeding hunky-dory wind up morish tomfoolery spend<br> a penny hanky panky, lemon squeezy vagabond.!')?></p>
                </div>
                <div class="payment_price_info">
                    <div class="payment_price_item">
                        <h2><?=__('lng.product_page.billing.price.tab_one_header','Free')?></h2>
                        <h6><?=__('lng.product_page.billing.price.tab_one_header_one','For personal use')?></h6>
                        <p><?=__('lng.product_page.billing.price.tab_one_para','My lady bits and bobs cup of tea bubble and squeak brolly.')?></p>
                        <a href="#" class="payment_price_btn"><?=__('lng.product_page.billing.price.try_this','Try this')?> <i class="ti-arrow-right"></i></a>
                    </div>
                    <div class="payment_price_item center">
                        <h2><?=__('lng.product_page.billing.price.tab_two_header','$29.00')?></h2>
                        <h6><?=__('lng.product_page.billing.price.tab_two_header_one','For team use')?></h6>
                        <p><?=__('lng.product_page.billing.price.tab_two_para','My lady bits and bobs cup of tea bubble and squeak brolly.')?></p>
                        <a href="#" class="payment_price_btn"><?=__('lng.product_page.billing.price.try_this','Try this')?><i class="ti-arrow-right"></i></a>
                    </div>
                    <div class="payment_price_item">
                        <h2><?=__('lng.product_page.billing.price.tab_three_header','$59.00')?></h2>
                        <h6><?=__('lng.product_page.billing.price.tab_three_header_one','For enterprise use')?></h6>
                        <p><?=__('lng.product_page.billing.price.tab_three_para','My lady bits and bobs cup of tea bubble and squeak brolly.')?></p>
                        <a href="#" class="payment_price_btn"><?=__('lng.product_page.billing.price.try_this','Try this ')?><i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </section>