        <section class="payment_features_area_three bg_color">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 d-flex align-items-center">
                        <div class="payment_features_content_two">
                            <h2 class="t_color"><?=__('lng.product_page.billing.product_details.header','How we help our clients<br> measure social')?></h2>
                            <p><?=__('lng.product_page.billing.product_details.para','He lost his bottle a load of old tosh cup of tea bog-standard<br> matie boy blow off the little rotter morish.!')?></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="item">
                                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/icon/icon1.png" alt="">
                                        <h3><?=__('lng.product_page.billing.product_details.tab_one_header','Customized registration')?></h3>
                                        <p><?=__('lng.product_page.billing.product_details.tab_one_para','Nice one mufty brown bread James Bond lost the plot chinwag vagabond are.!')?></p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="item">
                                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/icon/icon2.png" alt="">
                                        <h3><?=__('lng.product_page.billing.product_details.tab_two_header','Fast and simple Setup')?></h3>
                                        <p><?=__('lng.product_page.billing.product_details.tab_two_para','Nice one mufty brown bread James Bond lost the plot chinwag vagabond are.!')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <img class="img-fluid" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/features_01.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="payment_features_area_three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="payment_features_img">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/app_screen.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="payment_features_content_two">
                            <h2 class="t_color"><?=__('lng.product_page.billing.product_details.tab_three_header','Every thing is measured <br>You will get statistic.')?></h2>
                            <p><?=__('lng.product_page.billing.product_details.tab_three_para','Why I say old chap that, is spiffing chancer geeza pear shaped barney, fantastic blow off blimey lemon squeezy. Cup of tea my lady a blinding shot lost the plot spend a penny, only a quid bog-standard in my flat, morish chinwag sloshed. Cheeky chap old charles dropped a clanger.')?></p>
                            <a href="#" class="app_btn btn_hover"><?=__('lng.product_page.billing.product_details.learn_more','Learn More')?> <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>