   <section class="payment_features_two sec_pad">
            <div class="container">
                <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h2 class="f_p f_size_30 l_height50 f_700 t_color"><?=__('lng.product_page.billing.product_feature.header','Here is what you can expect')?></h2>
                    <p class="f_400 f_size_18 l_height34"><?=__('lng.product_page.billing.product_feature.para','He lost his bottle squiffy bog bleeding hunky-dory wind up morish tomfoolery spend<br> a penny hanky panky, lemon squeezy vagabond.!')?></p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="payment_features_item text-center">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/icon.png" alt="">
                            <h4><?=__('lng.product_page.billing.product_feature.tab_one_header','Interchange fees')?></h4>
                            <p><?=__('lng.product_page.billing.product_feature.tab_one_para','Oxford I don\'t want no agro naff sloshed. I bite your arm off mush hunky-dory nice one ummm I\'m telling lurgy we.!')?></p>
                            <a href="#" class="learn_btn_two"><?=__('lng.product_page.billing.product_feature.learn_more','Learn More')?> <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="payment_features_item text-center">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/icon2.png" alt="">
                            <h4><?=__('lng.product_page.billing.product_feature.tab_two_header','Our Corporate')?></h4>
                            <p><?=__('lng.product_page.billing.product_feature.tab_two_para','Oxford I don\'t want no agro naff sloshed. I bite your arm off mush hunky-dory nice one ummm I\'m telling lurgy we.!')?></p>
                            <a href="#" class="learn_btn_two"><?=__('lng.product_page.billing.product_feature.learn_more','Learn More')?> <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="payment_features_item text-center">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/icon3.png" alt="">
                            <h4><?=__('lng.product_page.billing.product_feature.tab_three_header','European Regulation')?></h4>
                            <p><?=__('lng.product_page.billing.product_feature.tab_three_para','Oxford I don\'t want no agro naff sloshed. I bite your arm off mush hunky-dory nice one ummm I\'m telling lurgy we.!')?></p>
                            <a href="#" class="learn_btn_two"><?=__('lng.product_page.billing.product_feature.learn_more','Learn More')?><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>