     <section class="payment_subscribe_area">
            <div class="container">
                <div class="payment_subscribe_info">
                    <div class="payment_subscribe_content">
                        <h2><?=__('lng.product_page.billing.quick_demo.header','Want to get Started?')?></h2>
                        <p><?=__('lng.product_page.billing.quick_demo.para','The free demo comes with no commitments <br>and no credit card required.')?></p>
                    </div>
                    <form action="#" class="subscribe-form">
                        <input type="text" class="form-control" placeholder="Email address">
                        <button type="submit" class="btn_hover btn_four"><?=__('lng.product_page.billing.quick_demo.get_started','Get Started')?></button>
                    </form>
                </div>
            </div>
        </section>