<section class="payment_banner_area_two">
            <div class="container">
                <div class="payment_content_two text-center">
                    <h2><?=__('lng.product_page.billing.slider.header','The next generation <br>of <span>Payment</span>')?></h2>
                    <div class="action_btn d-flex align-items-center justify-content-center">
                        <a href="#" class="slider_btn btn_hover"><i class="ti-plus"></i><?=__('lng.product_page.billing.slider.join_us','Join Us')?></a>
                        <a href="#" class="video_btn"><?=__('lng.product_page.billing.slider.why_do_verify','Why do we need Verified?')?></a>
                    </div>
                    <div class="payment_img">
                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/laptop_two.png" alt="">
                        <div></div>
                        <img class="payment_icon icon_one" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/01.png" alt="">
                        <img class="payment_icon icon_two" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/02.png" alt="">
                        <img class="payment_icon icon_three" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/03.png" alt="">
                        <img class="payment_icon icon_four" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/04.png" alt="">
                        <img class="payment_icon icon_five" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/05.png" alt="">
                        <img class="payment_icon icon_six" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/new/06.png" alt="">
                    </div>
                </div>
                <div class="symbols-pulse active">
                    <div class="pulse-1"></div>
                    <div class="pulse-2"></div>
                    <div class="pulse-3"></div>
                    <div class="pulse-4"></div>
                    <div class="pulse-x"></div>
                </div>
            </div>
        </section>