  <section class="pos_about_area">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp w_color" data-wow-delay="0.3s"><?=__('lng.product_page.retail.content.header','The Point of Sale Platform <br>Powering the Most Successful Restaurants')?></h2>
                </div>
                <ul class="list-unstyled pos_about_list">
                    <li><?=__('lng.product_page.retail.content.pt_one','Easy-to-use software that can<br> scale with your business')?></li>
                    <li><?=__('lng.product_page.retail.content.pt_two','Tickety boo what a plonker blower<br> tinkety tonk old fruit')?></li>
                    <li><?=__('lng.product_page.retail.content.pt_three','Cloud-based reports accessible<br> in real-time')?></li>
                    <li><?=__('lng.product_page.retail.content.pt_four','Simple, flat rate payment processing<br> for all transactions')?></li>
                    <li><?=__('lng.product_page.retail.content.pt_five','Hardwired terminals and offline<br> mode so nothing slows you down')?></li>
                    <li><?=__('lng.product_page.retail.content.pt_six','Tableside ordering and payments,<br> with digital receipts, to grow your<br> customer list')?></li>
                </ul>
<!--                <form class="row pos_subscribe" method="post" novalidate="true">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <div class="form-group">
                            <button class="btn btn_pos" type="submit"><?=__('lng.product_page.retail.content.get_demo','Get a Demo')?></button>
                        </div>
                    </div>
                </form>-->
                <img class="pos_about_img" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos_about_img.png" alt="">
            </div>
        </section>