        <section class="h_blog_area sec_pad">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s"><?=__('lng.product_page.retail.customer_review.header','Check out some of our amazing<br> resources or join us in a city near you.')?></h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos_blog_1.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 20, 2019</a>
                                <a href="#"><h3>How To Deploy a PHP Application with Kubernetes..</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>3 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos_blog_2.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>April 22, 2019</a>
                                <a href="#"><h3>How To Build a Node.js Application with Docker</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos_blog_3.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 26, 2019</a>
                                <a href="#"><h3>Hear from our Customer Community</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>