<section class="ticket_area">
    <div class="ticket_shap" style="background: url(img/pos/shape.png)"></div>
    <div class="pattern" style="background: url(img/pos/pattern_01.png)"></div>
    <div class="container">
        <div class="ticket_item">
            <div class="icon">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/icon1.png" alt="">
            </div>
            <h2><?=__('lng.product_page.retail.price.tab_one_header','44 POS <span>Already Set up </span>')?></h2>
            <p><?=__('lng.product_page.retail.price.more_than','More Than')?></p>
        </div>
        <div class="ticket_item">
            <div class="icon pink">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/icon2.png" alt="">
            </div>
            <h2><?=__('lng.product_page.retail.price.tab_two_header','$420.00 <span>Ultimate Plan</span>')?></h2>
            <p><?=__('lng.product_page.retail.price.price','Price')?></p>
        </div>
        <div class="ticket_item">
            <div class="icon yellow">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/icon3.png" alt="">
            </div>
            <h2><?=__('lng.product_page.retail.price.tab_three_header','in 7 days<span>In your Store</span>')?></h2>
            <p><?=__('lng.product_page.retail.price.set_up','Set Up')?></p>
        </div>
    </div>
</section>
<!--<section class="partner_logo_area">
    <div class="container">
        <h4 class="f_size_18 f_400 f_p text-center l_height28 mb_70"><?=__('lng.product_page.retail.price.para','Market leaders use app to nrich their brand &amp; business.')?></h4>
        <div class="row partner_info">
            <div class="logo_item">
                <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/logo_01.png" alt=""></a>
            </div>
            <div class="logo_item">
                <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/logo_02.png" alt=""></a>
            </div>
            <div class="logo_item">
                <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/logo_03.png" alt=""></a>
            </div>
            <div class="logo_item">
                <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/logo_04.png" alt=""></a>
            </div>
            <div class="logo_item">
                <a href="#"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/logo_05.png" alt=""></a>
            </div>
        </div>
    </div>
</section>-->