<section class="hosting_service_area sec_pad">
    <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(img/pos/pattern_02.png);"></div></div>
    <div class="container">
        <div class="hosting_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Features</h2>
        </div>
        <div class="row pos_service_info">
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/laptop.png" alt="">
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_one_header','eCommerce')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_one_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/statistics.png" alt="">
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_two_header','Analyticst')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_two_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/delivery-truck.png" alt="">
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_three_header','Point of Sale')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_three_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/cash-register.png" alt="">
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_four_header','Access globally')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_four_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/credit-card.png" alt="">
                    </div>
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_five_header','Payments')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_five_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="hosting_service_item">
                    <div class="icon">
                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/mailbox.png" alt="">
                    </div>
                    <a href="#"><h4 class="h_head"><?=__('lng.product_page.retail.product_feature.tab_six_header','Accept any Tender')?></h4></a>
                    <p><?=__('lng.product_page.retail.product_feature.tab_six_para','Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!')?></p>
                </div>
            </div>
        </div>
    </div>
</section>