<!doctype html>
<html lang="en">

    <!-- ************************ -->
    <!-- Start Code for head -->
    <?=View::renderPath('product/garments_software/head');?>
    <!-- End Code for head   -->
    <!-- ======================== -->
    <!-- ************************ -->

    <body>
        <!-- ************************ -->
        <!-- Start Code for header -->
        <?=View::renderPath('product/jewellery_software/header');?>
        <!-- End Code for header   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- ************************ -->
        <!-- Start Code for slider -->
        <?=View::renderPath('product/garments_software/slider');?>
        <!-- End Code for slider   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for product_feature -->
        <?=View::renderPath('product/garments_software/product_feature');?>
        <!-- End Code for product_feature   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for product_details -->
        <?=View::renderPath('product/garments_software/product_details');?>
        <!-- End Code for product_details   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for content -->
        <?=View::renderPath('product/garments_software/content');?>
        <!-- End Code for content   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for awards -->
        <?=View::renderPath('product/jewellery_software/awards');?>
        <!-- End Code for awards   -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for price -->
         <?=View::renderPath('product/garments_software/pricing');?>
          <!-- End Code for price  -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for price -->
         <?=View::renderPath('product/garments_software/testimonial');?>
          <!-- End Code for price  -->
        <!-- ======================== -->
        <!-- ************************ -->
        <!-- Start Code for footer -->
           <?=View::renderPath('product/jewellery_software/footer');?>
        <!-- End Code for footer   -->
        <!-- ======================== -->
        <!-- ************************ -->





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/jquery-3.2.1.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/propper.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/bootstrap.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/wow/wow.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/sckroller/jquery.parallax-scroll.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/nice-select/jquery.nice-select.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/isotope/isotope-min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/plugins.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/multiscroll/jquery.easings.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/multiscroll/multiscroll.responsiveExpand.limited.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/multiscroll/jquery.multiscroll.extensions.min.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/plugins.js"></script>
        <script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/js/main.js"></script>
    </body>

</html>