<section class="pos_developer_product_area sec_pad">
    <div class="container">
        <div class="hosting_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s"><?=__('lng.product_page.retail.product_details.header','All the tools for multi-location retailers to <br>sell, manage, report and grow')?></h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="tab_img_info">
                    <div class="tab_img active" id="tab_one">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/High-end-all-in-one-dual-screen.png" alt="">
                        <div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img" id="tab_two">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/ezgif-1-997e5035cba4.png" alt="">
                        <div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img" id="tab_three">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos.png" alt="">
                        <div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img" id="tab_four">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/b_dashboard.png" alt="">
                        <div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="developer_product_content">
                    <ul class="nav nav-tabs develor_tab mb-30" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-tab="tab_one" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="true"><?=__('lng.product_page.retail.product_details.product_first.tab_one','Increase Sales')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_two" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_two','Report')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_three" data-toggle="tab" href="#resize" role="tab" aria-controls="resize" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_three','Inform Decisions')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_four" id="doctl-tab" data-toggle="tab" href="#doctl" role="tab" aria-controls="doctl" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_four','Grow')?></a>
                        </li>
                    </ul>
                    <div class="tab-content developer_tab_content">
                        <div class="tab-pane fade active show" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="resize" role="tabpanel" aria-labelledby="resize-tab">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="doctl" role="tabpanel" aria-labelledby="doctl-tab">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--code 1-->

<section class="pos_developer_product_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="developer_product_content">
                    <ul class="nav nav-tabs develor_tab_2 mb-30" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-tab="tab_one_2" id="ruby-tab-2" data-toggle="tab" href="#ruby_2" role="tab" aria-controls="ruby_2" aria-selected="true"><?=__('lng.product_page.retail.product_details.product_first.tab_one','Increase Sales')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_two_2" id="curl-tab-2" data-toggle="tab" href="#curl_2" role="tab" aria-controls="curl_2" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_two','Report')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_three_2" id="resize-tab-2" data-toggle="tab" href="#resize_2" role="tab" aria-controls="resize_2" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_three','Inform Decisions')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_four_2" id="doctl-tab-2" data-toggle="tab" href="#doctl_2" role="tab" aria-controls="doctl_2" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_four','Grow')?></a>
                        </li>
                    </ul>
                    <div class="tab-content developer_tab_content">
                        <div class="tab-pane fade active show" id="ruby_2" role="tabpanel" aria-labelledby="ruby-tab-2">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="curl_2" role="tabpanel" aria-labelledby="curl-tab-2">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="resize_2" role="tabpanel" aria-labelledby="resize-tab-2">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="doctl_2" role="tabpanel" aria-labelledby="doctl-tab-2">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab_img_info_2">
                    <div class="tab_img_2 active" id="tab_one_2">
                        <img class="img-fluid wow fadeInLeft" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/High-end-all-in-one-dual-screen.png" alt="">
                        <div class="pattern_shap_2" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_2" id="tab_two_2">
                        <img class="img-fluid wow fadeInLeft" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/ezgif-1-997e5035cba4.png" alt="">
                        <div class="pattern_shap_2" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_2" id="tab_three_2">
                        <img class="img-fluid wow fadeInLeft" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos.png" alt="">
                        <div class="pattern_shap_2" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_2" id="tab_four_2">
                        <img class="img-fluid wow fadeInLeft" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/b_dashboard.png" alt="">
                        <div class="pattern_shap_2" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--code 2-->
<section class="pos_developer_product_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tab_img_info_3">
                    <div class="tab_img_3 active" id="tab_one3">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/High-end-all-in-one-dual-screen.png" alt="">
                        <div class="pattern_shap_3" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_3" id="tab_two3">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/ezgif-1-997e5035cba4.png" alt="">
                        <div class="pattern_shap_3" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_3" id="tab_three3">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/pos.png" alt="">
                        <div class="pattern_shap_3" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                    <div class="tab_img_3" id="tab_four3">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/pos/b_dashboard.png" alt="">
                        <div class="pattern_shap_3" style="background: url(img/pos/tab_pattern.png);"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="developer_product_content">
                    <ul class="nav nav-tabs develor_tab_3 mb-30" id="myTab5" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-tab="tab_one3" id="ruby-tab3" data-toggle="tab" href="#ruby3" role="tab" aria-controls="ruby3" aria-selected="true"><?=__('lng.product_page.retail.product_details.product_first.tab_one','Increase Sales')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_two3" id="curl-tab3" data-toggle="tab" href="#curl3" role="tab" aria-controls="curl3" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_two','Report')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_three3" id="resize3" data-toggle="tab" href="#resize3" role="tab" aria-controls="resize3" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_three','Inform Decisions')?></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_four3" id="doctl-tab3" data-toggle="tab" href="#doct3" role="tab" aria-controls="doctl3" aria-selected="false"><?=__('lng.product_page.retail.product_details.product_first.tab_four','Grow')?></a>
                        </li>
                    </ul>
                    <div class="tab-content developer_tab_content">
                        <div class="tab-pane fade active show" id="ruby3" role="tabpanel" aria-labelledby="ruby-tab3">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="curl3" role="tabpanel" aria-labelledby="curl-tab3">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="resize3" role="tabpanel" aria-labelledby="resize-tab3">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="doctl3" role="tabpanel" aria-labelledby="doctl-tab3">
                            <div class="pos_features_content pt-0">
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head"><?=__('lng.product_page.retail.product_details.product_second.tab_one_header','Benzersiz Stok ve Sube Yonetimi')?></h3>
                                        <p><?=__('lng.product_page.retail.product_details.product_second.tab_one_para','Oxford my lady the bee\'s knees. Tinkety tonk old fruit daft Richard baking cakes the bee\'s.')?></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="design_tab_area sec_pad">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3"><?=__('lng.product_page.garments.product_details.tab_three_header','Your design process, in one place')?></h2>
            <p class="f_400 f_size_16 mb-0"><?=__('lng.product_page.garments.product_details.tab_three_para','WShow off show off pick your nose and blow off Elizabeth grub haggle <br> dropped a clanger cracking.!')?></p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="nav nav-tabs design_tab" role="tablist">
                    <li class="nav-item wow fadeInUp" data-wow-delay="0.4s">
                        <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">
                            <h5><?=__('lng.product_page.garments.product_details.tab_three_feature_one_header','Collaboration')?></h5>
                            <p><?=__('lng.product_page.garments.product_details.tab_three_feature_one_para','Design to development,<br> automated')?></p>
                        </a>
                    </li>
                    <li class="nav-item wow fadeInUp" data-wow-delay="0.6s">
                        <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">
                            <h5><?=__('lng.product_page.garments.product_details.tab_three_feature_two_header','UI/UX design')?></h5>
                            <p><?=__('lng.product_page.garments.product_details.tab_three_feature_two_para','Design to development,<br> automated')?></p>
                        </a>
                    </li>
                    <li class="nav-item wow fadeInUp" data-wow-delay="0.8s">
                        <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">
                            <h5><?=__('lng.product_page.garments.product_details.tab_three_feature_three_header','Easy to maintain')?></h5>
                            <p><?=__('lng.product_page.garments.product_details.tab_three_feature_three_para','Design to development,<br> automated')?></p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                        <div class="tab_img">
                            <img class="img-fluid" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/tab.png" alt="">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                        <div class="tab_img">
                            <img class="img-fluid" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/tab.png" alt="">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                        <div class="tab_img">
                            <img class="img-fluid" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/tab.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>