    <section class="prototype_service_area_three bg_color">
        <div class="container">
            <div class="prototype_service_info">
                <div class="symbols-pulse active">
                    <div class="pulse-1"></div>
                    <div class="pulse-2"></div>
                    <div class="pulse-3"></div>
                    <div class="pulse-4"></div>
                    <div class="pulse-x"></div>
                </div>
                     <h2 class="f_size_30 f_600 t_color3 l_height45 text-center mb_90">Features</h2>
                <div class="row p_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70">
                            <div class="icon icon_one"><i class="ti-panel"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_one_header','Export Presets')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_one_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_50 pr_20">
                            <div class="icon icon_two"><i class="ti-layout-grid2"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_two_header','Grid and Guides')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_two_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_70">
                            <div class="icon icon_three"><i class="ti-fullscreen"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_three_header','Pixel Precision')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_three_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70">
                            <div class="icon icon_four"><i class="ti-vector"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_four_header','Vector Editing')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_four_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_50 pr_20">
                            <div class="icon icon_five"><i class="ti-cloud-down"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_five_header','Cloud Service')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_five_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_70">
                            <div class="icon icon_six"><i class="ti-bolt"></i></div>
                            <h5 class="f_600 f_p t_color3"><?=__('lng.product_page.garments.product_feature.tab_six_header','Iterate at Speed')?></h5>
                            <p class="f_400"><?=__('lng.product_page.garments.product_feature.tab_six_para','Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.')?></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>