 <section class="action_area_two">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-center">
                    <div class="action_content">
                        <h2 class="f_600 f_size_30 l_height45 t_color3 mb-0 wow fadeInLeft" data-wow-delay="0.3s"><?=__('lng.product_page.garments.quick_demo.header','Power up your workflow with<br> integrations into your favourite tools')?></h2>
                        <a href="#" class="btn_three btn_hover wow fadeInLeft" data-wow-delay="0.5s"><?=__('lng.product_page.garments.quick_demo.explore_integration','Explore integrations')?></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="action_img wow fadeInRight" data-wow-delay="0.5s">
                        <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home3/action_image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>