<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title><?=Config::get('site_name')?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div><?=$data['content']?></div>
        <br/>
        <div><?=View::renderPath('main/view');?></div>
        <div><?=__('lng.test2','default value')?></div>
    </body>
</html>