 <section class="erp_analytics_area">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>Quality Software For Lenders</h2>
                    <p>We Have Designed Our Software In A Way That You Can Manage Any Lending Process.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center wow fadeInUp">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/settings1.png" alt="">
                            <p>Eliminate Errors From Calculations</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.2s">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/cloud-computing.png" alt="">
                            <p>Turns Out High-Quality Statements</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.4s">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/growth.png" alt="">
                            <p>Compliant With Local And National Regulations</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>