   <section class="h_action_area_three">
            <img class="shap_img one" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/shap_one.png" alt="">
            <img class="shap_img two" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/shap_two.png" alt="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="h_action_img wow fadeInLeft">
                            <img class="img-fluid" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/case.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h_action_content">
                            <a class="popup-youtube video_icon" href="https://www.youtube.com/watch?v=sU3FkzUKHXU"><i class="arrow_triangle-right"></i></a>
                            <h2><?=__('lng.product_page.money_lending.content.header','Luxer One powers their business analytics with SaasLand.')?></h2>
                            <p><?=__('lng.product_page.money_lending.content.para','So I said in my flat Elizabeth no biggie me old mucker smashing starkers spiffing wind up, cobblers chip shop pardon.')?></p>
                            <div class="author">
                                <h6><?=__('lng.product_page.money_lending.content.header_two','Wisteria Ravenclaw')?></h6>
                                <p><?=__('lng.product_page.money_lending.content.para_two','Director of Marketing & Communications')?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>