<section class="erp_action_area awards_section mt-4 pt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3">
                <div class="erp_content">
                    <p class="award_text">Awards!</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">

                <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic3" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-example-generic3" data-slide-to="1" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="row prize_row_2">
                                <div class="prize_4">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_4.png" alt=""> 
                                </div>
                                <div class="prize_5">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_5.png" alt="">
                                </div>
                                <div class=" prize_3 ">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_3.png" alt="">
                                </div>
                            </div>                                
                        </div>
                        <div class="carousel-item">
                            <div class="row prize_row_1">
                                <div class="prize">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_1.png" alt="">
                                </div> 
                                <div class="prize">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_2.png" alt="">
                                </div>
                                <div class="prize">
                                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/prize_6.png" alt="" >
                                </div>
                            </div>                               
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--        <section class="analytices_customers_logo_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="analytices_logo_content">
                            <div class="hosting_title analytices_title">
                                <h2><?=__('lng.product_page.money_lending.customer_review.header','<span>Trusted by </span>great brands')?></h2>
                                <p><?=__('lng.product_page.money_lending.customer_review.para','The full monty the wireless bog-standard bevvy lurgy David, mufty Oxford blatant A bit of how\'s your father.')?></p>
                                <a href="#" class="er_btn er_btn_two"><?=__('lng.product_page.money_lending.customer_review.more_cust','More Customers')?></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_01.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_02.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_03.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_04.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_05.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_06.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_07.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_08.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_09.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_10.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_11.png" alt=""></a>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <a href="#" class="analytices_logo"><img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/logo_12.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
<section class="analytices_list_area">
    <div class="more_feature_img">
    <img class="macbook_a" src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/mackbook.png" alt="">
    </div>
    <div class="container">
        <div class="hosting_title analytices_title text-center">
            <h2>More Features</h2>
            <p><?=__('lng.product_page.money_lending.customer_review.para_two','The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey Why gormless, pear shaped.!')?></p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <ul class="analytices_list">
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_one','Client accounts')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_two','Visitor & Keyword-level trackin')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_three','Unlimited user accounts')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_four','Email summaries')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_five','Email call alerts')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_six','Dynamic Saas Thames')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_seven','Google Analytice Integration')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_eight','Google AdWords Integration')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_nine','Automated text replies')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_one_feature_ten','Advanced reporting')?></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <ul class="analytices_list">
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_one','Local numbers')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_two','International pone numbers')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_three','Call recording')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_four','Instant number setup')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_five','Toll-free numbers')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_six','Port your numbers in')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_seven','Whisper messages')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_eight','Custom call-tagging')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_nine','Greeting messages')?></li>
                    <li><?=__('lng.product_page.money_lending.customer_review.tab_two_feature_ten','Simultaneous ring')?></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--<section class="erp_call_action_area analytices_action_area_two">
    <div class="container">
        <div class="erp_action_content text-center">
            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/rocket.png" alt="">
            <h3><?=__('lng.product_page.money_lending.customer_review.header_three','Experience a smarter way to close deals')?></h3>
            <p><?=__('lng.product_page.money_lending.customer_review.para_three','With All-in-one<span>Business</span>Manager')?></p>
            <a href="#" class="er_btn er_btn_two"><?=__('lng.product_page.money_lending.customer_review.sign_up_for_free','Sign up for free')?></a>
        </div>
    </div>
</section>-->