<section class="erp_service_area sec_pad">
    <div class="container">
        <div class="hosting_title erp_title text-center">
            <h2>Features</h2>
            <p>We Have Integrated A Range Of Modern Features To Make Our Money Lending Software.</p>
        </div>
        <div class="row product_features_row">
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pr_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Girvi/Loan/Emi/Finance</h3></a>
                    <p>Gold loans, personal loans, unsecured loans, monthly EMI loans or daily collection finance loans, Online Munim manage all types of loans with different ready to use options.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_10">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon2.png" alt="">
                    <a href="#"><h3 class="h_head">Third Party/Bank Transfer Loan's</h3></a>
                    <p>Third party or money lender loan transfer can be handled easily by Online Munim. You can check all the active or released loan transactions of money lender on single click.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Loans Barcode/RFID Tag</h3></a>
                    <p>Your software and data will remain safe as we use different barcodes containing an alphanumeric barcode generation system.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pr_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Customer/Visitor Management</h3></a>
                    <p>Customer records with multiple photos, complete KYC with finger prints, digital signature, references and show all active transactions at customer info-graphic home page.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_10">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon2.png" alt="">
                    <a href="#"><h3 class="h_head">SMS/WA Messages</h3></a>
                    <p>Send messages instantly to your customers using our software dashboard. Send important information to your customers</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Finger Scan/Bio Metric</h3></a>
                    <p>We have tried to make our jewellery software more secure with Biometric technology. Using the finger scanning system, you can start using our software</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pr_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Loan Ledger Report</h3></a>
                    <p>Loan ledger Building template basically do the function of making record of the loan and its interest payments on loan in different periods. On loan, we give interest payments additional to the loan payments. There is specifically a stated rate of interest given when the creditor gives the loan to the debtor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_10">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon2.png" alt="">
                    <a href="#"><h3 class="h_head">Loss Loan Report</h3></a>
                    <p>loan loss allowance to address the collectibility of the cash flows that the purchaser does not expect to receive and, therefore, was not willing to pay for would not properly reflect the substance of the loan purchase.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Full/Half Month Intrest</h3></a>
                    <p><?=__('lng.product_page.product_feature.tab_sixth_para','Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. ')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pr_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Vs Hindi Date Feature</h3></a>
                    <p><?=__('lng.product_page.product_feature.tab_sixth_para','Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. ')?></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_10">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon2.png" alt="">
                    <a href="#"><h3 class="h_head">Profit & Loss Report</h3></a>
                    <p>To increase the profit, need the analysis where money stuck and need to cut down the extra expenses, with this module you do the analysis and increase your revenue</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="erp_service_item pl_60">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/erp_icon6.png" alt="">
                    <a href="#"><h3 class="h_head">Expense Management</h3></a>
                    <p>You can automate your business with all Expense with dynamic pricing, intelligent sales offers, automated background jobs, automated notifications and more.</p>
                </div>
            </div>
        </div>
    </div>
</section>