<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('default_theme');?>/images/omunim_logo_64.png" type="image/x-icon" >
    <title>Money Lending Software</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/animation/animate.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/elagent/style.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/style.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/responsive.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/custom.css">
    </head>