 <section class="analytices_price_area" id="pricing">
    <div class="container">
        <div class="hosting_title analytices_title text-center">
            <h2><?=__('lng.product_page.money_lending.price.header','<span>14-day free trial.</span> No credit card required.')?></h2>
            <p><?=__('lng.product_page.money_lending.price.para','The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey Why gormless, pear shaped.!')?></p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_one_header','Starter')?></h5>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_one_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_one','All Lite features')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_four','logo from emails')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_five','Advanced statistics')?> <i class="ti-check"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item active">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_two_header','Starter')?></h5>
                        <h6 class="tag"><i class="icon_ribbon_alt"></i>Most popular</h6>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_two_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_one','All Lite features')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_four','logo from emails')?><i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_five','Advanced statistics')?><i class="ti-check"></i></li>
                    </ul>
                    <a href="#" class="er_btn er_btn_two"><?=__('lng.product_page.money_lending.price.start_free_month','Start Free Month')?></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_three_header','Starter')?></h5>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_three_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_one','All Lite features')?><i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_four','logo from emails')?><i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_five','Advanced statistics')?> <i class="ti-check"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-4 pb-4 mb-4">
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_one_header','Starter')?></h5>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_one_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_one','All Lite features')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_four','logo from emails')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_one_feature_five','Advanced statistics')?> <i class="ti-check"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item active">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_two_header','Starter')?></h5>
                        <h6 class="tag"><i class="icon_ribbon_alt"></i>Most popular</h6>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_two_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_one','All Lite features')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_four','logo from emails')?><i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_two_feature_five','Advanced statistics')?><i class="ti-check"></i></li>
                    </ul>
                    <a href="#" class="er_btn er_btn_two"><?=__('lng.product_page.money_lending.price.start_free_month','Start Free Month')?></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="analytices_price_item">
                    <div class="p_head">
                        <h5><?=__('lng.product_page.money_lending.price.tab_three_header','Starter')?></h5>
                        <div class="rate">$59.99</div>
                        <h6><?=__('lng.product_page.money_lending.price.tab_three_header_two','per month')?></h6>
                    </div>
                    <ul class="list-unstyled p_body">
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_one','All Lite features')?><i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_two','Unlimited contacts')?> <i class="ti-check"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_three','Remove Sendinblue')?> <i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_four','logo from emails')?><i class="ti-close"></i></li>
                        <li><?=__('lng.product_page.money_lending.price.tab_three_feature_five','Advanced statistics')?> <i class="ti-check"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>