     <section class="easy_setup_area sec_pad">
            <div class="container">
                <div class="hosting_title analytices_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s"><?=__('lng.product_page.money_lending.product_details.header','<span>Easy Setup</span> Get started in 30 seconds')?></h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"><?=__('lng.product_page.money_lending.product_details.para','The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey Why gormless, pear shaped.!')?></p>
                </div>
                <div class="setup_inner">
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/setup_img1.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">01</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5><?=__('lng.product_page.money_lending.product_details.tab_one_header','Share research with the whole team')?></h5>
                                <p><?=__('lng.product_page.money_lending.product_details.tab_one_para','My good sir car boot super old owt to do with me say no biggie cheeky bugger')?></p>
                            </div>
                        </div>
                        <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
                    </div>
                    <div class="setup_item row flex-row-reverse">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/setup_img2.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">02</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5><?=__('lng.product_page.money_lending.product_details.tab_two_header','Track changes in feedback over time')?></h5>
                                <p><?=__('lng.product_page.money_lending.product_details.tab_two_para','My good sir car boot super old owt to do with me say no biggie cheeky bugger')?></p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="0.9s"></div>
                    </div>
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/home-software/setup_img3.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">03</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5><?=__('lng.product_page.money_lending.product_details.tab_three_header','Advanced mining Traffic')?></h5>
                                <p><?=__('lng.product_page.money_lending.product_details.tab_three_para','My good sir car boot super old owt to do with me say no biggie cheeky bugger')?></p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="1.5s"></div>
                    </div>
                </div>
            </div>
        </section>