<section class="erp_service_area sec_pad alliance_img">
    <div class="container alliance_img">
        <div class="hosting_title erp_title text-center">
            <h2>Alliances</h2>
        </div>
        <div class="row product_features_row alliance_img">
            <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-6 alliance_img">
                <div class='alliance_img_100'>
                   <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/icici.png" alt="">
                </div>
                 <div class='alliance_img_100'>
                   <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/razorpay.png" alt="">
                </div>
            </div>
             <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-6 alliance_img">
                <div class='alliance_img_200'>
                   <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/kataria.png" alt="">
                </div>
            </div>
             <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-6 alliance_img">
                <div class='alliance_img_200'>
                   <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/mettler.png" alt="">
                </div>
            </div>
             <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-6 alliance_img">
                <div class='alliance_img_200' >
                   <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/oLocker.png" alt="">
                </div>
            </div>
        </div>
        <div>
            &nbsp;<br/><br/><br/><br/>
        </div>
    </div>
</section>
