  <section class="erp_analytics_area">
    <div class="container">
        <div class="hosting_title erp_title text-center">
            <h2><?=__('lng.product_page.analytic.header','Analytics')?></h2>
            <p><?=__('lng.product_page.analytic.para','The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey Why gormless, pear shaped.!')?></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="erp_analytics_item text-center">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/settings1.png" alt="">
                    <p><?=__('lng.product_page.analytic.tab_one','Quick setup in five simple steps.')?></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="erp_analytics_item text-center">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/cloud-computing.png" alt="">
                    <p><?=__('lng.product_page.analytic.tab_two','Complete purchase history')?></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="erp_analytics_item text-center">
                    <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/growth.png" alt="">
                    <p><?=__('lng.product_page.analytic.tab_three','Signup, No credit  card details required.')?></p>
                </div>
            </div>
        </div>
    </div>
</section>