<div class="awards py-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div>
                      <h3><img src="../../webroot/theme/saas/common/img/login/medal.png" alt="Medal"><span>Awards</span></h3>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-carousel1 owl-theme mt-5">
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award1.png" alt="jewellery software">                                   
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award2.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award3.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award4.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award5.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award6.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award7.png" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award8.png" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award7.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award10.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award11.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/omunim_award12.webp" alt="jewellery software">
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/jquery.min.js"></script>
<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel1').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            300: {
                items: 2,
                margin: 10
            },
            400: {
                items: 3,
                margin: 10
            },
            576: {
                items: 4,
                margin: 10
            },
            768: {
                items: 4,
                margin: 30
            },
            992: {
                items: 5,
                margin: 30
            }
        }
    });

</script>