<div class="review py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h5>Customer Testimonials</h5>
                    <p>We measure our success with your smile !</p>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-carousel2 owl-theme mt-5">
                     <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Shashank Katariya</p>
                                <span>Delhi</span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">I have purchase omunim software they done my barcode setting & invoice setting Thank you omunim team ..</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Brijesh Kishor</p>
                                <span></span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">An amazing team filled with really helpful people. Whenever i have faced any issue they have assisted me. Anytime and every time.
                                A good product and a nice team working for it!!'</p>
                                    <div class="text-center w-100">
                                        <img src="../../webroot/theme/saas/common/img/login/star.png" class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Shriram Jewellers</p>
                                <span></span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">User friendly..good customer service..quick response to queries..overall nice experience</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Zubi Gold</p>
                                <span></span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">Excellent support, I always got prompt response whenever I need help. Thanks team Online Munim, especially Gangadhar for fixing/configuring barcode.</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Umesh Debnath</p>
                                <span>Delhi</span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">Good Software for RFID Management & Jewellery Billing Management thank you online Munim team.</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Shashank Katariya</p>
                                <span>Delhi</span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">I have purchase omunim software they done my barcode setting & invoice setting Thank you omunim team ..</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    <div class="item">
                        <div class="reviewdiv">
                            <div class="person">
                                <img src="../../webroot/theme/saas/common/img/login/user.png" alt="Review">                                   
                            </div>
                            <div class="reviewtxt">
                                <p class="personname">Manmohak Jewellers</p>
                                <span>Delhi</span>
                                <div class="reviewsubtxt px-3">
                                    <hr>
                                    <p class="persontxt">Software works Seamless, Interface is very easy to use and after sale service is cherry on the top overall very good experience.</p>
                                    <div>
                                        <img src="../../webroot/theme/saas/common/img/login/star.png"  class="w-50 mx-auto" alt="rating"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>

<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/jquery.min.js"></script>
<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel2').owlCarousel({
        loop: false,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            768: {
                items: 2
            },
            992: {
                items: 3
            },
            1200: {
                items: 2
            }
        }
    });

</script>