<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-4">
                <div class="px-3">
                    <p>© 2024 <a href="https://omunim.com/" class="text-body text-decoration-none">Omunim Software Pvt. Ltd.</a> All rights reserved.</p>
                    <div class="d-flex align-items-center justify-content-start mt-3 mt-lg-5">
                        <a href="https://play.google.com/store/apps/details?id=com.omunim.online_munim_native&pcampaignid=web_share" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/android.png" width="100%" class="mr-3" alt="Omunim android"></a>
                        <a href="https://apps.apple.com/in/app/jewellery-billing-app/id6742257887" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/ios.png" width="100%" class="ml-3" alt="Omunim ios"></a>
                    </div>
                    <div class="social d-flex align-items-center justify-content-start mt-3 mt-lg-5">
                        <a href="https://www.youtube.com/@OnlineMunim" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/youtube1.png" alt="youtube"></a>
                        <a href="https://www.facebook.com/oMunim" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/facebook.png" alt="facebook"></a>
                        <a href="https://www.instagram.com/onlinemunimsoftware/" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/instagram.png" alt="instagram"></a>
                        <a href="https://in.linkedin.com/in/online-munim-628b49118" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/linkedin.png" alt="linkedin"></a>
                        <a href="https://x.com/jewellery_60209/status/1818548975357534397" target="_blank" rel="noopener noreferrer"><img src="../../webroot/theme/saas/common/img/login/twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-8 mt-4 mt-lg-0">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="px-3">
                            <h6>Quick Link</h6>
                            <ul>
                                <li><a  href="https://omunim.com/jewellery-billing-software" target="_blank" rel="noopener noreferrer">Jewellery Software</a></li>
                                <li><a  href="https://omunim.com/gold-loan-software" target="_blank" rel="noopener noreferrer">Gold Loan Software</a></li>
                                <li><a  href="https://omunim.com/jewellery-mobile-app" target="_blank" rel="noopener noreferrer">Mobile App</a></li>
                                <li><a  href="https://omunim.com/ecommerce" target="_blank" rel="noopener noreferrer">E-commerce </a></li>
                                <li><a href="https://omunim.com/jewellery-videos" target="_blank" rel="noopener noreferrer">Videos</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12  col-sm-4 col-md-4">
                        <div class="px-3">
                            <h6>Helpful Links</h6>
                            <ul>
                                <li><a href="https://omunim.com/faq" target="_blank" rel="noopener noreferrer">FAQ</a></li>
                                <li><a href="https://omunim.com/feedback" target="_blank" rel="noopener noreferrer">Feedback</a></li>
                                <li><a href="https://omunim.com/downloads" target="_blank" rel="noopener noreferrer">Downloads</a></li>
                                <li><a href="https://omunim.com/terms" target="_blank" rel="noopener noreferrer">Terms & Conditions</a></li>
                                <li><a href="https://omunim.com/privacypolicy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12  col-sm-4 col-md-4">
                        <div class="px-3">
                            <h6>Contact</h6>
                            <ul>
                                <li><a href="https://omunim.com/aboutus" target="_blank" rel="noopener noreferrer">About Us</a></li>
                                <li><a href="https://omunim.com/contactus" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                                <li><a href="https://omunim.com/signin" target="_blank" rel="noopener noreferrer">Create Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>