<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="<?=HTTP_HOST?>" class="logo d-flex align-items-center  d-lg-none d-xl-block">
            <img src="../../webroot/theme/saas/common/img/login/jewellery-software.webp" alt="jewellery software">
        </a>
        <a href="<?=HTTP_HOST?>" class="logo d-lg-flex align-items-center d-none  d-xl-none">
            <img src="../../webroot/theme/saas/common/img/login/omlogo.png" alt="Jewellery billing software">
        </a>
        <nav id="navbar" class="navbar">
            <div class="menudiv"> 
                <div class="contact d-none d-lg-block">
                    <div>
                        <div class="d-inline-flex cntspan">Sales & Support :</div>
                        <div class="d-inline-flex ms-1 cntspan">0806 906 8585</div>
                        <div class="d-inline-flex ms-1 cntspan">+91 808735 8585</div>
                    </div>
                </div>
                <hr class="divider d-none d-lg-block">
                <ul>
                    <li class='border-bottom'><a class="d-lg-none" href="https://omunim.com/signin"><i class="bi bi-person-circle mr-2 fs-1"></i><?=__('lng.jewellery_software.signin','Sign In')?></a></li>
                    <li><a class="nav-link active" href="https://omunim.com/jewellery-software"  target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/omunim_web_design.png" alt="jewellery software"/>Home</a></li>
                    <li><a class="nav-link" href="https://omunim.com/jewellery-billing-software" target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/jewellery.png" alt="jewellery software"/>Jewellery Software</a></li>
                    <li><a class="nav-link" href="https://omunim.com/gold-loan-software" target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/loan.png" alt="jewellery software"/>Gold Loan Software</a></li>
                    <li><a class="nav-link" href="https://omunim.com/jewellery-mobile-app" target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/mobile.png" alt="jewellery software"/>Mobile App</a></li>
                    <li><a class="nav-link" href="https://omunim.com/ecommerce" target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/ecom.png" alt="jewellery software"/>E-commerce </a></li>
                    <li><a href="https://omunim.com/jewellery-videos" target="_blank" rel="noopener noreferrer"><img class="lang mr-2 d-lg-none" src="../../webroot/theme/saas/common/img/login/video.png" alt="jewellery software"/>Videos</a></li>
                    <li class="dropdown d-none"><a href="#"><img class="lang" src="../../webroot/theme/saas/common/img/login/lang.png" alt="Language"/></a>
                        <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Hindi</a></li>
                            <li><a href="#">Marathi</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <i class="bi bi-list mobile-nav-toggle"></i>     
            <a href="#"  class="d-none"><img  class="lang"  src="../../webroot/theme/saas/common/img/login/lang.png" alt="gold loan software"/></a>
            <a class="signin ml-4 d-lg-block" href="https://omunim.com/signin" target="_blank" rel="noopener noreferrer">Sign In</a>
        </nav>
    </div>
</header><!-- End Header -->