<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/favicon.png" type="image/x-icon">
    <title>Jewellery software - can manage your billing and accounting.</title>
    <meta name="keywords" content="Jewellery Software, Jewellery Business Management, Jewellery Inventory Management, Diamond Certification Management, Bhav Cutting, GST Compliance, Jewellery Billing Software, Jewellery Accounting Software, Indian Jewellery Software, Online Jewellery Software">
    <meta name="description" content="Jewellery software - can manage your billing and accounting. track sales smoothly, boost efficiency with friendly software solutions. & implify invoice creation" >
    <meta name="Classification" content="Computer software, Jewellery Software"/>
    <link rel="canonical" href="https://<?=$_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']?>" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Online Munim"/>
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/animation/animate.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/elagent/style.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/scroll/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/style.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/responsive.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/custom.css">
    <link rel="stylesheet" href="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/css/intlTelInput.css"/>
</head>


