<section class="erp_service_area sec_pad" style="margin-top:200px;margin-bottom: 200px; " id="mainMiddleDiv">
    <div class="container">
        <div class="hosting_title erp_title text-center">
            <h2>Jewellery Features!</h2>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-6">
                <h4>Multi Firm Managment</h4>
                <p>Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/action_img.png" alt=""> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/action_img.png" alt=""> 
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-6">
                <h4>Advance And Deposit's</h4>
                <p>Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-6">
                <h4>Profit And Loss Report</h4>
                <p>Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/action_img.png" alt=""> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <img src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/img/erp-home/action_img.png" alt=""> 
            </div>
             <div class="col-sm-8 col-md-8 col-lg-8 col-xs-6">
                <h4>Visitor Tracker</h4>
                <p>Our jewellery retail software enables you to deal with GST filing options. You can import files through your auditors and accountants. </p>
            </div>
        </div>
    </div>
</section>

