<section class="featurediv py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h3 class="headTitle">Accessible, Convenient & Manageable software</h3>
                    <p>User-friendly, feature-rich, and highly functional Maintain your inventory and accounts with a few clicks. Earn high profits from your jewellery business.!</p>
                </div>
            </div>
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Accessible</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Convenient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Manageable</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/barcode.png" class="mr-2" alt="Image">Bar-code & RFID Tag</h6>
                                    <p>Your software and data will remain safe as we use different barcodes containing an alphanumeric barcode generation system.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/insurance.png" class="mr-2" alt="Image">Jewellers Insurance</h6>
                                    <p>You can provide insured jewelry and ornaments to your customers. Our software lets you deal with an insurance company offering jewellery insurance.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/stock_manage.png" class="mr-2" alt="Image">Stock Management</h6>
                                    <p>Manage your silver, gold, and other jewelry stock. Our software lets you deal with different categories and subcategories and add VA% and other details.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/order.png" class="mr-2" alt="Image">Order Management</h6>
                                    <p>Automate the order process with our jewellery software. You can reallocate items and save time.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/sms.png" class="mr-2" alt="Image">SMS / WA Messages</h6>
                                    <p>Send messages instantly to your customers using our software dashboard. Send important information to your customers</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/customer.png" class="mr-2" alt="Image">Customer Management</h6>
                                    <p>Manage your silver, gold, and other jewellery stock. Our software lets you deal with different categories and subcategories and add VA% and other details.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/barcode.png" class="mr-2" alt="Jewellery Software">Karagir Management</h6>
                                    <p>Have you employed goldsmiths for your jewellery business? Then, manage the work details and personal information of each of the karigars.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/insurance.png" class="mr-2" alt="Jewellery Software">Bhav Cut / No Cut</h6>
                                    <p>Enjoy effortless payment through metal. The Ledger accounts are manageable with your metal balance. You can do it based on the payments you received and your cash balance.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/stock_report.png" class="mr-2" alt="Jewellery Software">Stock Report</h6>
                                    <p>Get the product stock summary in a comprehensive report. You can learn about the product carat, purity, item code, and other details.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/finger_scan.png" class="mr-2" alt="Jewellery Software">Finger Scan / Bio Metric</h6>
                                    <p>We have tried to make our jewellery software more secure with Biometric technology. You can start using our software by using the finger scanning system.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/loyalty_point.png" class="mr-2" alt="Jewellery Software">Loyalty Point</h6>
                                    <p>Provide your loyal customers with loyalty points. The software will automatically offer these points to your customers.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/ecom.png" class="mr-2" alt="Jewellery Software">Ecommerce Integration</h6>
                                    <p>Do you like to sell your jewellery through an ecommerce platform? Integrate a platform into this custom software.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/scheme.png" class="mr-2" alt="Image">Monthly Saving Scheme</h6>
                                    <p>How much have you saved and earned profit from your jewellery business? Our software lets you create a saving scheme.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/money.png" class="mr-2" alt="Image">Money Lending Girvi</h6>
                                    <p>Using this feature, you can make jewellery-amount transactions, attach photos with your transaction, and manage Girvi transfers.</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="p-2 p-lg-4">
                                    <h6><img src="../../webroot/theme/saas/common/img/login/bullion.png" class="mr-2" alt="Image">Bullion</h6>
                                    <p>You can find separate cash-cheque rates and connect live metal rates. Moreover, stock management also becomes easy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>