<div class="featurediv py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/jewellery_insurance.webp" alt="Jewellery Insurance">
                            </div>
                            <div class="Title">
                                <p>Jewellery Insurance</p>
                            </div>
                            <div class="Text">
                               <p>Store and manage your insurance policies including policy details, coverage limits and expiration dates. File and track insurance claims for lost, stolen, or damaged jewellery.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/payment_intgration.webp" alt="Payment Integration">
                            </div>
                            <div class="Title">
                                <p>Payment Integration</p>
                            </div>
                            <div class="Text">
                                <p>Accept a variety of payment methods including credit cards, debit cards, digital wallets and bank transfers. Ensure the safety of your customers payment information with advanced security measures.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/scheme_management.webp" alt="Scheme Management">
                            </div>
                            <div class="Title">
                                <p>Scheme Management</p>
                            </div>
                            <div class="Text">
                                <p>Easily create and customize different types of schemes such as discounts, loyalty programs and referral bonuses. Set parameters, eligibility criteria and reward structures for each scheme.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/whatsapp_automation.webp" alt="Whatsapp Automation">
                            </div>
                            <div class="Title">
                                <p>Whatsapp Automation</p>
                            </div>
                            <div class="Text">
                                <p> Send and receive messages directly from within Online Munim, eliminating the need to switch between platforms. Keep customers informed about their order status, shipping information and any changes or delays.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/ecom_integration.webp" alt="E - Commerce Automation">
                            </div>
                            <div class="Title">
                                <p>E - Commerce Automation</p>
                            </div>
                            <div class="Text">
                                <p>Keep your online store inventory updated in real-time to avoid stockouts and overselling. Automatically sync orders from your online store to Online Munim for seamless processing.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/ring_integration.webp" alt="Ring Integration">
                            </div>
                            <div class="Title">
                                <p>Weighing Scale Integration</p>
                            </div>
                            <div class="Text">
                                <p>Accurately record the weight of products as they are weighed. Automatically update your inventory records based on the captured weight data. Minimize errors and save time by eliminating manual data entry.</p>
                            </div>
                        </div>
                    </div>    
                    <div class="item">
                        <div class="feature">
                            <div class="pix">
                                <img src="../../webroot/theme/saas/common/img/login/rfid_integration.webp" alt="RFID Integration">
                            </div>
                            <div class="Title">
                                <p>RFID Integration</p>
                            </div>
                            <div class="Text">
                                <p>Assign RFID tags to your products for real-time tracking and identification.Accurately track your inventory levels, movement and location using RFID data. Prevent theft and loss with RFID-based security measures.</p>
                                </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/jquery.min.js"></script>
<script src="<?=HTTP_HOST_WEBROOT?>/<?=Config::get('product_page_theme');?>/common/vendors/cdnjs/js/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 2
            },
            992: {
                items: 3
            }
        }
    });

</script>