<div class="container pb-5 mb-sm-5">
    <div class="row mb-sm-5 pb-5">
        <div class="col-12">
            <div  class="position-relative">
                <div class="youtube">
                    <h4>To know more about us on Youtube</h4>
                </div>
                <a href="https://www.youtube.com/watch?v=Oo5I-IfOoUI" target="_blank" rel="noopener noreferrer">
                    <div class="youtubepic">
                        <img src="../../webroot/theme/saas/common/img/login/jewellery-billing-software.webp" width="100%" height="auto" alt="Jewellery Software"> 
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="whyomunim py-5 mt-4">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="whyom">
                    <h5>Why Omunim Software</h5>
                </div>
            </div>
        </div>
        <div class="row mt-lg-4 ">
            <div class="col-lg-3 col-md-4 col-12 pr-md-0 mt-xl-5">
                <div class="nav  nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Colorful Invoices</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Payment Gateway</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">RFID Integration</a> 
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12 pl-md-0">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div>
                            <div class="whycontent w-100">
                                <img class="p-4" src="../../webroot/theme/saas/common/img/login/gold-loan-software.webp" width="100%" height="auto" alt="gold loan software">
                            </div>
                            <div class="whycontent1">
                                <p>Colorful Invoices by Online Munim is a feature that adds a touch of resonance to your business documents. You can generate colorful invoices by Online Munim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div>
                            <div class="whycontent">
                                <img src="../../webroot/theme/saas/common/img/login/payment-gateway.webp" width="100%" height="auto" alt="gold loan software">
                            </div>
                            <div class="whycontent1">
                                <p>Online Munim's Payment Gateway empowers businesses to accept payments effortlessly and securely.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div>
                            <div class="whycontent">
                                <img src="../../webroot/theme/saas/common/img/login/rfid-integration.webp" width="100%" height="auto" alt="gold loan software">
                            </div>
                            <div class="whycontent1">
                                <p>Online Munim's RFID integration empowers jewellery businesses to achieve unparalleled efficiency and accuracy in inventory management.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>